@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat:400,700|Roboto:400i');
/*@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');*/
* {
    box-sizing: border-box;
}
html {
    height: 100%;
    background-color: ghostwhite;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
/*--fit-content(8rem) fix footer flexity problem on mobile due to need smaller space but the footer 8rem is "fixed"?. make sure footer not bigger than its content--*/
/*    margin-top: 3.5rem;*/
    height: 100%; 
    grid-template-areas: "header" "main" "footer";
}

main {
/*    min-height: calc(100vh - 3.5rem - 8rem);*/
/*    margin-top: 3.5rem;*/
/*    grid-row: 2 / 3;*/
    grid-area: main;
}

.backdrop {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
/*    width: 80vmax;*/
/*--vmin take the value of the smaller viewport value dynamically.--*/
/*    width: 80vmin;*/
/*    width: 100%;*/
    width: 100vw;
    height: 100vh;
/*    height:100%;*/
}
.main-header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    font-size: 1rem;*/
    
/* Since its position:fixed, % height value relative to Viewport*/
}
/*=========LOGO==CONTAINER==========*/

.main-header > div {
/*
    display: inline-block;
    vertical-align: middle;
*/
    
/*    text-align: center;*/
/*    height: 80%;*/
/*    position: absolute;*/
/*    height: 10px;*/
}
/*--------SIDE-Nav-Button-START------*/
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  position: absolute;
  right: 0.44rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
/*--------SIDE-Nav-Button-END--------*/
/*--logo <a> tag--*/
.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    right: 19px;
    top: 9px;
}
.main-header__brand img {
    height: 2.99rem;    
    vertical-align: middle;
/* =Percentage on img don't work because img % don't respect the container <a>, since it is not a block. img in an Inline container will show its original size.= */
/* =IMG width relative to its closest Block Level container((-end from <body>, if body is auto sizing the % value on children won't work;-)) Real Time sizing (here If <a> not set to "Block").= */
}
/*
@media (min-width: 40rem) {
    .main-header__brand {
        position: static;
        display:block;
    }
}
*/
/*=========LOGO==CONTAINER==========*/

.main-nav {
    display: none;
/*    position: relative;*/
/*    text-align: right;*/    
}

.main-nav__items {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
/*    justify-content: flex-end;*/
    align-items: center;
}

.main-nav__item {
/*    display: inline-block;*/
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.19rem 0;
    display: inline-block;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 0.3rem solid white;
}

.main-nav__item--cta a, 
.mobile-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
    .main-header > div {
        vertical-align: middle;
        text-align: center;

    }
    .main-nav {
/*        display: inline-block;*/
/*        text-align: right;*/
/*        vertical-align: middle;*/
/*        width: calc(100% - 45px);*/
        display: block;
    }
}

/* ------footer---START-------- */
.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
    color: aliceblue;
/*    grid-row: 3 / 4;*/
    grid-area: footer;
}
.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer__link {
    margin: 0.5rem 0;
}
.main-footer__link a {
    color: white;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:active {
    color: lightgray;

}
@media (min-width: 40rem){
    .main-footer__link {
       margin: 0 0.5rem;
    }
    .main-footer__links {
    flex-direction: row;
    justify-content: center;
    }
}
/* -----footer---END----------- */

/* -----mobile-Nav-START------- */
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
/*  left: 0;*/
  background-color: ghostwhite;
  width: 50%;
  height: 100vh;
/*    padding: 20px;*/
/*    border: 5px solid black;*/
}
.mobile-nav__items {
/*  background-color: purple;*/
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
}
.mobile-nav__item {
  margin: 0.5rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}
/*-------mobile-nav-END------------*/

/*------plan-button-START----------*/
.button {
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid lightgrey;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: white;
    color: #0E4F1F;
}

.button:foucs {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
/*    border-color: #a1a1a1;*/
    background-color: #ccc;
    color: #a1a1a1;
}
/*-------plan-button-END-----------*/

.open {
    display: block !important;
}


/*
@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
    .main-header > div {
        vertical-align: middle;
        text-align: center;
    }
    .main-nav {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 55px);
    }
}
*/
